@charset "UTF-8";


body {
	font-size: 16px; 
}


        

.box {  
  padding:auto 0;
  display: table;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	margin: 0 auto 0 20px;
  width        : 110px;
  height       : 50px;  
  background-color: rgb(255, 162, 162);
    border:solid 1px rgb(0, 0, 0);
  /*background   : linear-gradient(to bottom, #99ccff, #0059b3);*/
  
}
.boxspan{	font-weight:700;
  display: table-cell;
  vertical-align: middle;
}


.tr1 {
    border-color: gray;
    border-style: solid;
    border-width: 1px 0;
}


#table1{ 
    border-collapse: collapse;
    background:rgb(242, 242, 255); 
    width:100%;
    font-size:20px;
}
.table2{
    border-collapse: collapse;
    font-size:20px;
}


.table2th{
	height: 2em;
	font-size:20px;
	font-weight:400;
	white-space:nowrap;
}




#table3{
  border-collapse:separate;
  border-spacing: 10px 10px;
    width:80%;
    font-size:20px;
    margin-left:10px;
}
#table3 tr{
  padding: 10px 0;
}

#table3td1,#table3td2,#table3td11{
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
}
#table3td1{
  background-color: rgb(238, 238, 255);
  color: rgb(0, 0, 0);
  border:solid 1px rgb(0, 0, 0);
	font-size:24px;
	font-weight:700;
	font-family:  "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	
}

#table3td11{
  background-color: rgb(255, 162, 162);
  color: rgb(0, 0, 0);
  border:solid 1px rgb(0, 0, 0);
	font-size:24px;
	font-weight:700;
	font-family:  "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	
}




#table3td2{
  background-color: #e4d4bc;
  border:solid 1px #af9d85;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}






.table2th{
	height: 2em;
	font-size:20px;
	font-weight:400;
}



#tddate{
	width:20%;
	font-size:32px;
}
#tdcontent1{
	 width:80%;
	
}
#theme{
	 font-size:30px;
	 font-weight:bold;   
}
#content{
	 font-size:30px;
}

#hh1 {
	text-align:center;
	font-size:42px;
  font-family: "Nico Moji";
	font-weight:700;
	 color:rgb(0, 0, 255);
	 color:inherit;
	 text-decoration: none;
	
}
.hh2{
	 font-size:14px;
	 font-weight:700;
	 color:rgb(128, 128, 128);
}
.hh21{
	 font-size:14px;
	 font-weight:700;
	 color:rgb(255, 0, 0);
}
.hh22{
	 color:rgb(128, 128, 128);
}

.hh23{
	 font-size:16px;
	 font-weight:700;
	 color:rgb(26, 26, 26);
}

.moji1{
	 font-size:14px;
	 font-weight:400;
	
}
.moji2{
	 font-size:20px;
	 font-weight:700;
	
}


.select{
	font-size:25px;
}
.inline_box{
	width: 60%;
	height: 300px;
	overflow: auto;
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 10px;
}

input[type=checkbox]{
	transform: scale(2);
	margin: 0 10px 10px 6px;
    cursor: pointer;
	
}


label{
    cursor: pointer;
	
}




.option{
	font-size:18px;
    padding: 10px;
	
}

.submit{
	font-size:18px;
    width: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    cursor: pointer;
	
}
.submit1{
	font-size:18px;
    width: 75px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    cursor: pointer;
}

.subtitle{
	font-size: 36px;
	font-weight:700;
}
















.balloon1-top {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  font-weight: 700;
  background: #e0edff;
}

.balloon1-top:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 20%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #e0edff;
}

.balloon1-top p {
  margin: 0;
  padding: 0;
}










/* ボタン */
.button_solid004 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*margin: 0 auto;*/
    max-width: 240px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 900;
    background: #6bb6ff;
    border-radius: 8px;
    border-bottom: solid 5px #1d7fde;
}
.button_solid004 a:hover {
    border-bottom: solid 2px #1d7fde;
    transform: translateY(3px);
}






/*input　ボタンの装飾*/

input[type="submit"]{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*margin: 0 auto;*/
    max-width: 240px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 900;
    background: #6bb6ff;
    border-radius: 8px;
    border-bottom: solid 5px #1d7fde;
}


input[type="submit"]:hover{
    border-bottom: solid 2px #1d7fde;
    transform: translateY(3px);
}







input[type="submit1"]{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*margin: 0 auto;*/
    max-width: 650px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 900;
    background: #6bb6ff;
    border-radius: 8px;
    border-bottom: solid 5px #1d7fde;
}


input[type="submit1"]:hover{
    border-bottom: solid 2px #1d7fde;
    transform: translateY(3px);
}

































































@media screen and (min-width: 960px) {
	body {
	font-size: 16px; 
}
        


.tr1 {
    border-color: gray;
    border-style: solid;
    border-width: 1px 0;
}


#table1{ 
    border-collapse: collapse;
    background:rgb(242, 242, 255); 
    width:100%;
    font-size:20px;
}
.table2{
    border-collapse: collapse;
    font-size:20px;
}


.table2th{
	height: 2em;
	font-size:20px;
	font-weight:400;
	white-space:nowrap;
}




#table3{
  border-collapse:separate;
  border-spacing: 10px 10px;
    width:80%;
    font-size:20px;
    margin-left:10px;
}
#table3 tr{
  padding: 10px 0;
}

#table3td1,#table3td2{
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
}
#table3td1{
	/*元のbackground-color:rgb(238, 238, 255)*/
  background-color: rgb(191, 223, 255);
  color: rgb(0, 0, 0);
  border:solid 1px rgb(0, 0, 0);
	font-size:24px;
	font-weight:700;
	font-family:  "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	
}
#table3td2{
  background-color: #e4d4bc;
  border:solid 1px #af9d85;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}






.table2th{
	height: 2em;
	font-size:20px;
	font-weight:400;
}



#tddate{
	width:20%;
	font-size:32px;
}
#tdcontent1{
	 width:80%;
	
}
#theme{
	 font-size:30px;
	 font-weight:bold;   
	 color:inherit;
	 text-decoration: none;
}
#content{
	 font-size:30px;
}

#hh1 {
	text-align:center;
	font-size:42px;
  font-family: "Nico Moji";
	font-weight:700;
	 color:rgb(0, 0, 255);
	
}
.hh2{
	 font-size:14px;
	 font-weight:700;
	 color:rgb(128, 128, 128);
}
.hh21{
	 font-size:14px;
	 font-weight:700;
	 color:rgb(255, 0, 0);
}
.hh22{
	 color:rgb(128, 128, 128);
}

.hh23{
	 font-size:16px;
	 font-weight:700;
	 color:rgb(26, 26, 26);
}

.moji1{
	 font-size:14px;
	 font-weight:400;
	
}
.moji2{
	 font-size:20px;
	 font-weight:700;
	
}


.select{
	font-size:2em;
}
.inline_box{
	width: 40%;
	height: 250px;
	overflow: auto;
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 10px;
}

input[type=checkbox]{
	transform: scale(2);
	margin: 0 10px 10px 6px;
	
}
.option{
	font-size:18px;
    padding: 10px;
	
}

.submit{
	font-size:18px;
    width: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    cursor: pointer;
	
}
.submit1{
	font-size:18px;
    width: 75px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    cursor: pointer;
}

.subtitle{
	font-size: 36px;
	font-weight:700;
}
	
}

    
    