<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


  <form action="/servlet5" method="post">
  日付(string)：<input type="text" name="date" size="10" />
  内容(string)：<input type="text" name="content" size="10" />
  時間(string)：<input type="text" name="time" size="10" />

  <h2>入力情報を確認して登録ボタンを押してください</h2>
  <br/><input type="submit" value="/servlet5に送る" /></form>
  
  
   
  
<input type="submit" value="登録" />
<input type="reset" value="戻る" />


</body>
</html>