<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>ウィキカレ!</title>


<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">

  <!--/* src/main/resources/static/css/common.css を読み込む */-->
  <link th:href="@{/css/common.css}" rel="styleSheet">


  </head>
  <body>
  <h1 id="hh1">ウィキカレンダー
  </h1>
  
<form action="/" method="get" >
<input class="submit" type="submit" value="ホーム(ALL)" /></form>
<br/>
  <input class="submit" type="button" onclick="test();" value="最下部へ移動"><br/>
  
    <br/><br/>
  <a class="moji1">TODAY:</a><!--/*<span th:text="${new java.util.Date().toString()}"></span> */-->
   <!--/*<span th:text="${new java.util.Date().toString('yyyy/MM/dd')}"></span>*/-->
  <span class="moji2" th:text="${#calendars.format(#calendars.createNowForTimeZone('Asia/Tokyo'), 'yyyy/MM/dd')}"></span>

 <!--/* <h1><a href="https://www.google.com/">google</a></h1>   yyyy年MM月dd日 (w) HH時mm分ss秒*/-->
 
 
  
    

    
    <br/>
    
    
        <!--/*<table id="table1">
        
      
      <tr class="tr1" th:each="list : ${DbList}">
        <td id="tddate" noWrap vAlign="middle" th:text="${#dates.format(list.dt, 'M/d')}"></td>
        <td id="tdcontent" noWrap><a id="theme" th:text="${list.theme}"></a><a>　　</a>
        <a>id:</a><a th:href="@{/update?id={id2}(id2=${list.id})}"><span th:text="${list.id}"></span></a>
       
        <a>　　</a><a>時間:</a><a th:text="${list.starttime}"></a><a>～</a><br/>
        <a>　</a><a id="content" th:text="${list.content}"></a>
        <span th:if="${list.link == null}"></span>
        <span th:unless="${list.link == null}"><br/><a>　</a><a>Link:</a><a  th:href="@{${list.link}}"><span th:text="${list.link}" ></span></a>
        </span>
        </td>
                
      </tr>
    </table>*/-->
    
    
    
    
    
    
        <br/>
    <br/>
    
    
        <table id="table3">
        
      
      <tr th:each="list : ${DbList}">
        <td id="table3td1" noWrap vAlign="middle" th:text="${#dates.format(list.dt, 'M/d')}"></td>
        <td noWrap><a id="theme" th:text="${list.theme}"></a><a>　　</a>
        <a>id:</a><a th:href="@{/update?id={id2}(id2=${list.id})}"><span th:text="${list.id}"></span></a>
       
        <a>　　</a><a>時間:</a><a th:text="${list.starttime}"></a><a>～</a><br/>
        <a>　　　</a><a th:text="${list.content}"></a>
        <span th:if="${list.link == null}"></span>
        <span th:unless="${list.link == null}"><br/><a>　　　</a><a>Link:</a><a  th:href="@{${list.link}}"><span th:text="${list.link}" ></span></a>
        </span>
        </td>
                
      </tr>
    </table>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<h2 class="hh2">本日以降の日程を100件まで表示中。全件表示するには、「全期間で表示」をご利用ください。</h2>
<h2 class="hh2">idの番号を押すと、『更新』や『削除』を行なえます。</h2>


<h2 class="hh21">※上記のスケジュールは、編集参加者によって登録されたデータです。正しくは、公式の発表をご確認ください。</h2>

<br/><br/>

<!--/*
<form action="/509" method="post">
id：<input type="text" name="id" size="10" />
<input type="submit" value="削除➡/509" /></form>

<br/>
*/-->



<br/>
<br/>




    
<h2 class="subtitle">テーマ選択</h2>
<form method="get" action="/ca" >
    <div class="inline_box">
	<div class="select" th:each="list1 : ${DbList1}">
    <input type="checkbox" name="theme" th:value="${list1.theme}" th:text="${list1.theme}">
    </div>
    </div>
	<div class="hh22">(複数選択可能)</div><p><input class="submit" type="submit" value="検索"></p>
</form>




<br/>

<br/>
<h2 class="subtitle">全期間表示</h2>
<form method="get" action="/a">
<p>
<select class="option" name="theme" required>
<option class="table2th" value="">選択してください</option>
<div th:each="list1 : ${DbList1}">
<option th:text="${list1.theme}"></option>
</div >
</select>
<input class="submit" type="submit" value="全期間で表示">
</p>
</form>



<br/>
<br/> 
<br/> 
<h2 class="subtitle">新規登録</h2>
 <form action="/i" method="post" >
<table class="table2">
      <tr class="tr1">
        <th>日付*</th>
        <th>開始時間</th>
        <th>テーマ*</th>
        <th>内容(30文字以内)</th>
        <th>Link</th>
      </tr>
 <tr class="tr1">
<th><input class="table2th" type="date" name="dt" th:value="${#calendars.format(#calendars.createNowForTimeZone('Asia/Tokyo'), 'yyyy-MM-dd')}"></th>
<th><input class="table2th" type="time" name="starttime"></th>
<th><input class="table2th" type="text" name="theme"/></th>
<th><input class="table2th" type="text" name="content"></th>
<th><input class="table2th" type="text" name="link"></th>
</tr>
</table>
<h2 class="hh21">
※日付とテーマは、必須項目です。</h2>
<h2 class="hh21">
※Linkを記入する場合は、httpなどから始まり、なるべく一次情報のurlを記載ください。</h2>
<input class="submit"  type="submit" value="送信" />
</form><br/>



    



<br/><br/>
<form action="/" method="get"  >
<input class="submit" type="submit" value="ホーム(ALL)" /></form>
<br/><br/>

<!--/*
<br/><br/>
<form action="/update" method="get"  >
id：<input type="text" name="id" size="10" />
<input type="submit" value="編集画面➡/update" />
</form>
<br/><br/>
*/-->


<!--/*
<br/><br/>
<form action="/519" method="get"  >
<input type="submit" value="今日以降でソート➡/519" /></form>
*/-->


<br/><br/><a>表示中のカレンダーを共有しよう!</a>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<h2 class="hh21">
※編集機能、または本サービスは予告なく停止・廃止する場合がございます。</h2>

 
    <!--/*<script th:src="@{/js/test.js}"></script> */-->
    <script type="text/javascript" th:src="@{/js/jsfile.js}"></script>
  </body>
</html>