<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, user-scalable=yes">
	<title>ウィキカレ!</title>


	<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">

	<!--/* src/main/resources/static/css/common.css を読み込む */-->
	<link th:href="@{/css/common.css}" rel="styleSheet">
	<link rel="icon" href="/img/favicon.ico">
	<link rel="apple-touch-icon" href="/img/android-chrome-144x144.png">


</head>

<body>
	<h1 id="hh1"><a  href="https://wiki-calendar.net/" style="color:inherit;text-decoration: none;">ウィキカレンダー</a>
	</h1>



	<!--/*

	<form action="/" method="get">
		<input class="submit" type="submit" value="ホーム(ALL)" />
	</form>
	
	*/-->





	<!--/*
  <input class="submit" type="button" onclick="test();" value="最下部へ移動"><br/>
  
    <br/><br/>*/-->

	<!--/*
    <div th:if="${param.theme[0]=""}">
    <p th:text="${param.theme[0]}"></p>
    </div>
    */-->
	<!--/*
    <div th:if="${#lists.isEmpty(param.theme)}">
		リストに一個も無い時
	</div>
	<div th:if="!${#lists.isEmpty(param.theme)}">
	<div th:each="list : ${param.theme}">
		リストに一個以上ある時<a th:text="${list}""></a>
	</div>
	</div>
	*/-->


	<div th:each="themestr : ${themeStr}">
		<a class="moji1" th:text="${themestr}"></a>
	</div>


	<div style="overflow:hidden;">
		<a class="hh23">選択中のカレンダー:</a>


		<a class="hh23" th:each="continent : ${continents}" th:text="${continent + '　 '}"></a>

	</div>




	<div style="display:inline-flex">
		<form action="/" method="get" style="display: flex;">
			<input class="submit" type="submit" value="ホーム(ALL)" />
		</form>
		<form action="/a" method="get" style="display: flex;">
			<div th:each="str : ${DbList5}">
				<input type="hidden" name="theme" th:value="${str}">
			</div>
			<input type="hidden" name="theme" value="">
			<input type="hidden" name="theme" value="">
			<input class="submit" type="submit" formaction="/ca" value="今日以降に切替" />
			<input class="submit" type="submit" value="全期間に切替" />
		</form>
	</div>

	</br>


	<br />


	<a class="moji1">TODAY:</a>
	<!--/*<span th:text="${new java.util.Date().toString()}"></span> */-->
	<!--/*<span th:text="${new java.util.Date().toString('yyyy/MM/dd')}"></span>*/-->
	<span class="moji2"
		th:text="${#calendars.format(#calendars.createNowForTimeZone('Asia/Tokyo'), 'yyyy/MM/dd')}"></span>

	<!--/* <h1><a href="https://www.google.com/">google</a></h1>   yyyy年MM月dd日 (w) HH時mm分ss秒*/-->

	<!--/*

<ul th:each="continet : ${continents}">
    <li th:text="${continent}"></li>
</ul>
*/-->
	　　



	<div class="box" id="makeImg">
		<div class="boxspan">赤:1週間以内</div>
	</div>









	<!--/*<table id="table1">
        
      
      <tr class="tr1" th:each="list : ${DbList}">
        <td id="tddate" noWrap vAlign="middle" th:text="${#dates.format(list.dt, 'M/d')}"></td>
        <td id="tdcontent" noWrap><a id="theme" th:text="${list.theme}"></a><a>　　</a>
        <a>id:</a><a th:href="@{/update?id={id2}(id2=${list.id})}"><span th:text="${list.id}"></span></a>
       
        <a>　　</a><a>時間:</a><a th:text="${list.starttime}"></a><a>～</a><br/>
        <a>　</a><a id="content" th:text="${list.content}"></a>
        <span th:if="${list.link == null}"></span>
        <span th:unless="${list.link == null}"><br/><a>　</a><a>Link:</a><a  th:href="@{${list.link}}"><span th:text="${list.link}" ></span></a>
        </span>
        </td>
                
      </tr>
    </table>*/-->


	<table id="table3">


		<tr th:each="list : ${DbList4}">
			<td id="table3td1" noWrap vAlign="middle" th:text="${' '+ #dates.format(list.dt, 'M/d') + ' '}"></td>
			<td noWrap style="max-width: 750px;overflow:hidden;">
				<a id="theme" th:text="${list.theme}" th:href="@{/ca?theme={theme2}(theme2=${list.theme})}"></a><a>　</a>
				<a style="color:gray">時間:</a><a style="color:gray" th:text="${list.starttime}"></a><a>～</a><a>　</a>
				<a style="color:gray">id:</a><a style="color:gray;" th:href="@{/update?id={id2}(id2=${list.id})}"><span
						th:text="${list.id}"></span></a>
				<br />
				<a>　　</a><a style="font-size:25px;color:rgb(2, 0, 70)" th:text="${list.content}"></a>
				<!--/*<span th:if="${!#lists.isEmpty(list.link)}"></span>th:unless="${!#lists.isEmpty(list.link)*/-->
				<span><br /><a>　　　　　　　</a><a style="color:gray">Link:</a><a style="color:gray;text-decoration:none"
						th:href="@{${list.link}}"><span th:text="${list.link}"></span></a>
				</span>
			</td>

		</tr>
	</table>



	<table id="table3">


		<tr th:each="list : ${DbList3}">
			<td id="table3td11" noWrap vAlign="middle" th:text="${' '+ #dates.format(list.dt, 'M/d') + ' '}"></td>
			<td noWrap style="max-width: 750px;overflow:hidden;">
				<a id="theme" th:text="${list.theme}" th:href="@{/ca?theme={theme2}(theme2=${list.theme})}"></a><a>　</a>
				<a style="color:gray">時間:</a><a style="color:gray" th:text="${list.starttime}"></a><a>～</a><a>　</a>
				<a style="color:gray">id:</a><a style="color:gray;" th:href="@{/update?id={id2}(id2=${list.id})}"><span
						th:text="${list.id}"></span></a>
				<br />
				<a>　　</a><a style="font-size:25px;color:rgb(2, 0, 70)" th:text="${list.content}"></a>
				<!--/*<span th:if="${!#lists.isEmpty(list.link)}"></span>th:unless="${!#lists.isEmpty(list.link)*/-->
				<span><br /><a>　　　　　　　</a><a style="color:gray">Link:</a><a style="color:gray;text-decoration:none"
						th:href="@{${list.link}}"><span th:text="${list.link}"></span></a>
				</span>
			</td>

		</tr>
	</table>



	<table id="table3">


		<tr th:each="list : ${DbList}">
			<td id="table3td1" noWrap vAlign="middle" th:text="${' '+ #dates.format(list.dt, 'M/d') + ' '}"></td>
			<td noWrap style="max-width: 750px;overflow:hidden;">
				<a id="theme" th:text="${list.theme}" th:href="@{/ca?theme={theme2}(theme2=${list.theme})}"></a><a>　</a>
				<a style="color:gray">時間:</a><a style="color:gray" th:text="${list.starttime}"></a><a>～</a><a>　</a>
				<a style="color:gray">id:</a><a style="color:gray;" th:href="@{/update?id={id2}(id2=${list.id})}"><span
						th:text="${list.id}"></span></a>
				<br />
				<a>　　</a><a style="font-size:25px;color:rgb(2, 0, 70)" th:text="${list.content}"></a>
				<!--/*<span th:if="${!#lists.isEmpty(list.link)}"></span>th:unless="${!#lists.isEmpty(list.link)*/-->
				<span><br /><a>　　　　　　　</a><a style="color:gray">Link:</a><a style="color:gray;text-decoration:none"
						th:href="@{${list.link}}"><span th:text="${list.link}"></span></a>
				</span>
			</td>

		</tr>
	</table>

















	<h2 class="hh2">選択したカレンダーについて、本日以降の日程を50件まで表示できます。全件表示するには、「全期間で表示」をご利用ください。</h2>
	<h2 class="hh2">idの番号を押すと、『更新』や『削除』、『コピー登録』を行なえます。</h2>


	<h2 class="hh21">※上記のスケジュールは、編集参加者によって登録されたデータです。正しくは、公式の発表をご確認ください。</h2>

	<br /><br />


	<br />
	<br />





	<h2 class="subtitle">カレンダー選択</h2>
	<div class="hh2">チェックボックスまたは、テキストボックスから選択してください。複数選択可能。</div>

	<form method="get" action="/ca">
		<div class="inline_box">
		
			<div class="select" th:each="continent : ${DbList5}">
				<input type="checkbox" th:id="${continent}" name="theme" th:value="${continent}" checked>
				<label th:text="${continent}" th:for="${continent}"></label>
			</div>
		
		
		
			<div class="select" th:each="list1 : ${DbList17}">
				<input type="checkbox" th:id="${list1.theme}" name="theme" th:value="${list1.theme}">
				<label th:text="${list1.theme}" th:for="${list1.theme}"></label>
			</div>
		</div>
		<a>検索して選ぶ:</a><br />
		<input class="table2th" type="text" name="theme" list="example" /><br />
		<input class="table2th" type="text" name="theme" list="example" /><br />
		<input class="table2th" type="text" name="theme" list="example" />
		<p><input style="width:auto" class="submit" type="submit" value="カレンダーを表示"></p>


		<input class="submit" type="submit" formaction="/a" value="全期間で表示">


		<br />
		<p class="balloon1-top">　表示後のURLをショートカットしておくと、便利!　</p>
	</form>




	<br />

	<br />
	<br />
	<br />
	<a class="subtitle">新規登録</a><a style="color:rgb(255, 128, 0);font-size:1.5em;">　どなたでも登録できます!</a>
	<br /><br />
	<form action="/i" method="post">
		<table class="table2">
			<tr class="tr1">
				<th>日付<a style="color:red;">*</a></th>
				<th>開始時間</th>
				<th>カレンダー名(15文字以内)<a style="color:red;">*</a></th>
			</tr>
			<tr class="tr1">
				<th><input class="table2th" type="date" name="dt"
						th:value="${#calendars.format(#calendars.createNowForTimeZone('Asia/Tokyo'), 'yyyy-MM-dd')}">
				</th>
				<th><input class="table2th" type="time" name="starttime"></th>
				<th><input class="table2th" type="text" name="theme" list="example" />
					<datalist id="example">
						<div th:each="list1 : ${DbList1}">
							<option th:text="${list1.theme}"></option>
						</div>
					</datalist>
				</th>


		</table>

		<table class="table2">
			</tr>
			<tr class="tr1">
				<th>内容(30文字以内)</th>
				<th>Link</th>
			</tr>
			<tr class="tr1">
				<th><input class="table2th" type="text" name="content"></th>
				<th><input class="table2th" type="text" name="link"></th>
			</tr>
		</table>


		<h2 class="hh21">
			※日付とカレンダー名は、必須項目です。新規カレンダー名も登録可能です。</h2>
		<h2 class="hh21">
			※Linkを記入する場合は、httpなどから始まり、なるべく一次情報のurlを記載ください。</h2>
		<p>登録を押すと、登録したテーマの全期間表示に遷移します。</p>
		<input class="submit" type="submit" value="登録" />
		<p class="balloon1-top">　みんなと共有できる色々なジャンルを登録しよう!　</p>
	</form>
	<br />




	<br /><br />



	<br />
	<!--/*
	<div class="button_solid004">
		<a href="/">ホーム(ALL)</a>
	</div>
	*/-->

	<br />
	<form action="/" method="get">
		<input class="submit" type="submit" value="ホーム(ALL)" />
	</form>
	<br />
	<br />
	<br />

	<!--/*
<br/><br/>
<form action="/update" method="get"  >
id：<input type="text" name="id" size="10" />
<input type="submit" value="編集画面➡/update" />
</form>
<br/><br/>
*/-->


	<!--/*
<br/><br/>
<form action="/519" method="get"  >
<input type="submit" value="今日以降でソート➡/519" /></form>
*/-->


	<br /><br /><a>表示中のカレンダーを共有しよう!</a>
	<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
		data-show-count="false">Tweet</a>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


	<h2 class="hh21">
		※編集機能、または本サービスは予告なく停止・廃止する場合がございます。</h2>
	<footer>
		<div style="margin:auto;  padding:3rem 1.5rem;">アクセスカウンター
			<nobr>
				<table border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td><a href="https://www.free-counter.jp/"><img
										src="https://www.f-counter.net/ani1/61/1672122843/" alt="アクセスカウンター" border="0"
										style="margin:0px; padding:0px; border:0px; vertical-align:bottom"></a></td>
							<td><a href="https://www.free-counter.jp/"><img
										src="https://www.f-counter.net/ani2/61/1672122843/" alt="アクセスカウンター" border="0"
										style="margin:0px; padding:0px; border:0px; vertical-align:bottom"></a></td>
						</tr>
					</tbody>
				</table>
			</nobr>
		</div>
		<!--*<a class="privacy-policy-link" href="">プライバシーポリシー</a>*/--><a>©2022</a>
		<a class="site-name" href="https://wiki-calendar.net" rel="home">ウィキカレンダー</a>
		</div>
	</footer>

	<!--/*<script th:src="@{/js/test.js}"></script> */-->
	<script type="text/javascript" th:src="@{/js/jsfile.js}"></script>
</body>

</html>