<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>編集画面</title>
	<!--/* src/main/resources/static/css/common.css を読み込む */-->
	<link th:href="@{/css/common.css}" rel="styleSheet">
	<link rel="icon" href="/img/favicon.ico">

</head>

<body>



	<br />
	<form action="/" method="get">
		<input class="submit" type="submit" value="ホーム(ALL)" />
	</form>
	<br />


	<h2 class="subtitle">編集する</h2>

	<form action="/update1" method="post">

		<div th:each="list : ${DbList}">
			<a style="font-weight:600;font-size:20px;">id　　：<input type="hidden" name="id" th:value="${list.id}"
					th:text="${list.id}"></a>
			<br />
			<br />
			<a style="font-weight:600;font-size:20px;">テーマ：<input type="hidden" name="theme" th:value="${list.theme}"
					th:text="${list.theme}"></a>
		</div>
		<br />
		<br />
		<table class="table2">
			<tr>
				<th>日付*</th>
				<th>開始時間</th>
				<th>内容(30文字以内)</th>
				<th>Link</th>
			</tr>
			<tr th:each="list : ${DbList}">
				<th><input class="table2th" type="date" name="dt" th:value="${list.dt}"></th>
				<th><input class="table2th" type="time" name="starttime" th:value="${list.starttime}"></th>
				<th><input class="table2th" type="text" name="content" th:value="${list.content}" /></th>
				<th><input class="table2th" type="text" name="link" th:value="${list.link}" /></th>
			</tr>
		</table>
		<input class="submit" type="submit" value="更新" />
	</form>
	<p th:each="list : ${DbList}" th:text="${'更新を押すと、　『'+list.theme+'』　の全期間表示に遷移します。'}"></p>


	<br />


	<br /><br />
	<h2 class="subtitle">削除する</h2>
	<form action="/d" method="post" th:each="list : ${DbList}">
		<a style="font-weight:600;">id：<input type="hidden" name="id" th:value="${list.id}" th:text="${list.id}"></a>
		<input type="hidden" name="theme" th:value="${list.theme}">
		<input style="width:auto" class="submit1" type="submit" th:value="削除" /><br />(一度押すと、このレコード1件は完全に削除されます。)
	</form>
	<p th:each="list : ${DbList}" th:text="${'削除を押すと、　『'+list.theme+'』　の全期間表示に遷移します。'}"></p>


	<br />
	<br />
	<br />

	<br />
	<p>戻る場合は、ブラウザの戻るをご利用ください</p>




	<br />

	<br />
	<br />


	<h2 class="subtitle">コピー登録する</h2>
	<h2 class="hh2">似た内容をつづけて登録したいときにご利用ください。</h2>

	<form action="/i" method="post">
		<div th:each="list : ${DbList}">
			<table class="table2">
				<tr class="tr1">
					<th>日付<a style="color:red;">*</a></th>
					<th>開始時間</th>
					<th>テーマ(15文字以内)<a style="color:red;">*</a></th>
				</tr>
				<tr class="tr1">
					<th><input class="table2th" type="date" name="dt" th:value="${list.dt}"></th>
					<th><input class="table2th" type="time" name="starttime" th:value="${list.starttime}"></th>
					<th><input class="table2th" type="text" name="theme" list="example" th:value="${list.theme}" /></th>
				</tr>
			</table>
			<table class="table2">
				<tr class="tr1">
					<th>内容(30文字以内)</th>
					<th>Link</th>
				</tr>
				<tr class="tr1">
					<th><input class="table2th" type="text" name="content" th:value="${list.content}"></th>
					<th><input class="table2th" type="text" name="link" th:value="${list.link}"></th>
				</tr>
			</table>
		</div>
		<h2 class="hh21">
			※日付とテーマは、必須項目です。新規テーマも登録可能です。</h2>
		<h2 class="hh21">
			※Linkを記入する場合は、httpなどから始まり、なるべく一次情報のurlを記載ください。</h2>
		<input class="submit" type="submit" value="登録" />
	</form>
	<p>登録を押すと、登録したテーマの全期間表示に遷移します。</p>
	
	<br />



	<datalist id="example">
		<div th:each="list1 : ${DbList1}">
			<option th:text="${list1.theme}"></option>
		</div>
	</datalist>


	<br />
	<br />
	<form action="/" method="get">
		<input class="submit" type="submit" value="ホーム(ALL)" />
	</form>
	<br />
	<br />
</body>

</html>