<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


    
    
    
 <form action="/update1" method="post" >
 <table>
      <tr>
        <th>id</th>
        <th>日付*</th>
        <th>開始時間</th>
        <th>テーマ</th>
        <th>内容(30文字以内)</th>
        <th>Link</th>
      </tr>
 <tr th:each="list : ${DbList}">
 <th><input type="hidden" name="id" th:value="${list.id}" th:text="${list.id}"></th>
 <th><input type="date" name="dt" th:value="${list.dt}"></th>
 <th><input type="time" name="starttime" th:value="${list.starttime}"></th>
 <th><input type="hidden" name="theme" th:value="${list.theme}" th:text="${list.theme}"></th>
 <th><input type="text" name="content" size="10" th:value="${list.content}" /></th>
 <th><input type="text" name="link" size="10" th:value="${list.link}"/></th>
 </tr>
 </table>
 <input type="submit" value="更新" />
 </form>

<br/> 


<br/><br/>
<form action="/d" method="post"  th:each="list : ${DbList}">
id：<input type="hidden" name="id" th:value="${list.id}" th:text="${list.id}">
<input type="hidden" name="theme" th:value="${list.theme}">
<input type="submit" value="削除" />　(一度押すと、このidのレコード1件が完全に削除されます。)
</form>

<br/>



</body>
</html>